<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SASTEntities" connectionString="metadata=res://*/Repositorio.Model1.csdl|res://*/Repositorio.Model1.ssdl|res://*/Repositorio.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9M0E4O2\SQLEXPRESS;initial catalog=SAST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>